<div class='container-fluid'>
  <%= form_tag login_path do %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= label_tag :email %>
      </span>
      <div class="form-control">
        <%= email_field_tag :email  %>
      </div>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= label_tag :password %>
      </span>
      <div class="form-control" %>
        <%= password_field_tag :password %>
      </div>
    </div>

    <div class='container-fluid'>
      <div class='col-md-6'>
        <%= submit_tag "Log in", class: "btn btn-primary btn-block" %>
      </div>

      <div class='col-md-6'>
        <%= link_to "Create an Account",
                    new_user_path,
                    class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>
