<div class='container'>
  <%= form_for [@company, @job] do |f| %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.label :title %>
      </span>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.label :description %>
      </span>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.label :level_of_interest %>
      </span>
      <%= f.number_field :level_of_interest, class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.label :city %>
      </span>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <% if @categories %>
      <div class='input-group'>
        <%= f.select :category_id,
                        options_from_collection_for_select(@categories, "id", "title"),
                        prompt: "-CATEGORY-",
                        class: "form-control" %>
      </div>
    <% else %>
      <div class="input-group">
          <%= "No categories available. Please create a new category." %>
      </div>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Create a New Category",
                new_category_path,
                class: "btn btn-success" %>
  <% end %>
</div>
