<div class="container-fluid center-block text-center" id="">
  <h1 class="page-header header-background">
    <strong><%= @company.name %></strong>
  </h1>

  <div class="col-md-6">
    <h2 class="page-header">
      Jobs
    </h2>
    <ul class="list-group">
      <% @jobs.each do |job| %>
        <li class="list-group-item">
          <%= link_to job.title, company_job_path(@company, job) %>
        </li>
      <% end %>
    </ul>
    <div class="row">
      <div class="col-md-6">
        <%= link_to "Back to All Companies",
                    companies_path,
                    class: "btn btn-primary" %>
      </div>
      <div class='col-md-6'>
        <%= link_to "Add New Job",
                    new_company_job_path(@company),
                    class: "btn btn-success" %>
      </div>
    </div>
  </div>

  <div class='col-md-6'>
    <h2 class="page-header">
      Contacts
    </h2>
    <div class='table-responsive'>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Email</th>
        </tr>
        <% if @contacts %>
          <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.first_name + " " + contact.last_name %></td>
            <td><%= contact.position %></td>
            <td><%= contact.email %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <%= render partial: "contacts/form" %>
  </div>
</div>