<% @title = "JTrack | #{@job.title} @ #{@job.company.name}" %>

<div class='container'>
  <% if @errors %>
    <%= render partial: "shared/errors"%>
  <% end %>

  <div class="container header-background">
    <h1 class="page-header">
    <%= @job.title %> at <%= @job.company.name %>
    </h1>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      Description: <%= @job.description %>
    </li>
    <li class="list-group-item">
      Level of Interest: <%= @job.level_of_interest %>
    </li>
    <li class="list-group-item">
      City: <%= @job.city %>
    </li>
    <li class='list-group-item'>
      Category: <%= @job.category.title if @job.category %>
    </li>
  </ul>

  <div class="container button-trio">
    <%= link_to "Back to #{@job.company.name}",
                company_path(@job.company),
                class: "btn btn-primary col-md-3"%>
    <%= link_to "Edit",
                edit_company_job_path(@job.company, @job),
                class: "btn btn-warning col-md-3"%>

    <%= link_to "Delete", company_job_path(@job.company, @job),
                method: :delete,
                class: "btn btn-danger col-md-3" %>
  </div>

  <ul class='list-group comment-list text-center'>
    <h2 class="page-header">
      Comments
    </h2>
    <%= render partial: "jobs/comment",
           collection: @job.comments.reverse %>
           
    <%= render partial: "comments/form" %>
  </ul>
</div>