<div class='container-fluid center-block'>
  <% if @errors %>
    <%= render partial: "shared/errors"%>
  <% end %>

  <div class="container-fluid header-background">
    <h1 class="page-header text-center">
    <%= @job.title %> at <%= @job.company.name %>
    </h1>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
      Description: <%= @job.description %>
    </li>
    <li class="list-group-item">
      Level of Interest: <%= @job.level_of_interest %>
    </li>
    <li class="list-group-item">
      City: <%= @job.city %>
    </li>
    <li class='list-group-item'>
      Category: <%= link_to @job.category.title, category_path(@job.category) if @job.category %>
    </li>
  </ul>

  <div class="row text-center">
    <div class='col-md-4'>
      <%= link_to "Back to #{@job.company.name}",
                  company_path(@job.company),
                  class: "btn btn-primary"%>
    </div>

    <div class='col-md-4'>
      <%= link_to "Edit",
                  edit_company_job_path(@job.company, @job),
                  class: "btn btn-warning"%>
    </div>

    <div class='col-md-4'>
      <%= link_to "Delete", company_job_path(@job.company, @job),
                  method: :delete,
                  class: "btn btn-danger" %>
    </div>

  </div>

  <div class="container-fluid">
    <ul class='list-group center-block text-center'>
      <h2 class="page-header">
        Comments
      </h2>
      <div class="container-fluid" >
        <%= render partial: "jobs/comment",
              collection: @job.comments.reverse %>
      </div>
      <%= render partial: "comments/form" %>
    </ul>
  </div>
</div>